:root{
    --primary-color: #1C8A8D;
    --secondary-color: #5FD286;
    --tertiary-color: #CAFCD7;
    --quaternary-color: #C4DBF8;
    --quinary-color: #F9B9BC;
}

html{
    min-height: 100vh;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--quaternary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C8A8D; /* Updated color */
    color: #CAFCD7; /* Updated color */
    font-size: 20px;
}

header img{
    aspect-ratio: 1;
    width: 90px;
}

h1{
    font-size: 50px;
    color: #1C8A8D;
    font-weight: bold;
    margin: 0;
}

.left-section,
.middle-section,
.right-section {
    display: flex;
    align-items: center;
}

.middle-section {
    justify-content: center;
}

.middle-section a {
    margin: 0 10px;
}

.profile {
    margin-top: 5px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #CAFCD7; /* Updated color */
    transition: color 0.3s ease;
    font-size: 30px;
}



/* Apply hover effect only to specific links with the "hoverable" class */
.hoverable {
    text-decoration: none;
    color: #CAFCD7; /* Updated color */
    transition: color 0.3s ease;
    font-size: 30px;
}

.hoverable:hover {
    color: #5FD286; /* Updated color */
}

.active {
    font-weight: bold;
}

#header {
    text-align: center;
    padding: 20px;
}

#header img,
.profile img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.amount,
.name {
    font-size: 20px;
}

.right-section a:not(:last-child) {
    margin-right: 10px;
}