:root{
    --dark-blue: #1C8A8D;
    --dark-green: #5FD286;
    --light-green: #CAFCD7;
    --light-blue: #C4DBF8;
    --pink: #F9B9BC;
}

#game-container {
    background-color: var(--light-blue);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px; /* Add padding to the top to create space between header and game container */
}

/* GRAPH */

#graph-window {
    background-color: var(--dark-blue); /* Set the background color for the graph window */
    color: var(--light-blue); /* Text color */
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
    text-align: center;
    position: relative;
}

#graph-window h1 {
    font-size: 24px;
    margin: 0 0 20px; /* Spacing below the heading */
}

#graph-window p {
    font-size: 18px;
}

#graph-window img {
    max-width: 100%;
    height: auto;
    display: block; /* Center the image within the container */
    margin: 0 auto;
}

#multiplier-value {
    font-weight: bold;
    font-size: 40px; /* Adjust the font size as needed */
    color: var(--light-blue); /* Text color for the multiplier value */
    padding: 10px'
}

/* BET WINDOW */
#betting-window {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 10px; /* Add margin to the top to create space between betting and graph windows */
}

#betting-window label {
    font-size: 25px;
    display: block;
}

#bet-amount {
    width: 125px; /* Adjust the width of the input field as needed */
    font-size: 18px;
    padding: 8px;
    border: 1px solid #777; /* Input border color */
    border-radius: 5px;
    margin: 10px 0;
    color: #333; /* Input text color */
    background-color: #fff; /* Input background color */
}


#place-bet,
#cash-out {
    font-size: 20px;
}

#place-bet {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc71; /* Change color to your preference */
    color: #fff;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; /* Add transitions for smooth effects */
}

#place-bet:hover {
    background-color: #27ae60; /* Darken the color slightly on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a slight shadow on hover */
    transform: scale(1.05); /* Slightly scale the button on hover */
}

#cash-out {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e74c3c; /* Change color to your preference */
    color: #fff;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; /* Add transitions for smooth effects */
}

#cash-out:hover {
    background-color: #c0392b; /* Darken the color slightly on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a slight shadow on hover */
    transform: scale(1.05); /* Slightly scale the button on hover */
}

#presets {
    display: flex;
    align-items: center;
}

.preset {
    padding: 10px;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

/* Hover effect */
.preset:hover {
    opacity: 0.8;
}


#countdown {
    font-size: 25px;
    margin: 10px 0;
}

#game-content {
    font-size: 20px;    
    margin: 10px 0;
    opacity: 0;
}

/* HISTORY */

#history-container {
    background-color: var(--dark-blue); /* Background color for the history window */
    color: var(--light-blue); /* Text color */
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow */
}

#history-window h2 {
    font-size: 22px;
    margin: 0 0 20px; /* Spacing below the heading */
}

#multiplier-history {
    list-style: none;
    padding: 0;
}

#multiplier-history li {
    font-size: 16px;
    margin: 0 0 10px; /* Spacing between history items */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#multiplier-history li:before {
    content: "▶"; /* Add a bullet symbol before each history item */
    margin-right: 10px; /* Spacing between the bullet and text */
}

#multiplier-history li:last-child {
    margin: 0; /* Remove margin from the last history item */
}
