:root{
    --dark-blue: #1C8A8D;
    --dark-green: #5FD286;
    --light-green: #CAFCD7;
    --light-blue: #C4DBF8;
    --pink: #F9B9BC;
}

#game-container {
    background-color: var(--light-blue);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-top: 120px; 
}


#graph-window {
    background-color: var(--dark-blue); 
    color: var(--light-blue); 
    padding: 70px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    text-align: center;
    position: relative;
}

#graph-window h1 {
    font-size: 24px;
    margin: 0 0 20px; 
}

#graph-window p {
    font-size: 18px;
}

#graph-window img {
    max-width: 100%;
    height: auto;
    display: block; 
    margin: 0 auto;
}

#multiplier-value {
    font-weight: bold;
    font-size: 40px; 
    color: var(--light-blue);
    padding: 10px'
}

/* BET WINDOW */
#betting-window {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: 10px; 
}

#betting-window label {
    font-size: 25px;
    display: block;
}

#bet-amount {
    width: 125px; 
    font-size: 18px;
    padding: 8px;
    border: 1px solid #777; 
    border-radius: 5px;
    margin: 10px 0;
    color: #333; 
    background-color: #fff; 
}


#place-bet,
#cash-out {
    font-size: 20px;
}

#place-bet {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; 
}

#place-bet:hover {
    background-color: #27ae60;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); 
}

#cash-out {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e74c3c; 
    color: #fff;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; 
}

#cash-out:hover {
    background-color: #c0392b; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
}

#presets {
    display: flex;
    align-items: center;
}

.preset {
    padding: 10px;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}


.preset:hover {
    opacity: 0.8;
}


#countdown {
    font-size: 25px;
    margin: 10px 0;
}

#game-content {
    font-size: 20px;    
    margin: 10px 0;
    opacity: 0;
}



#history-container {
    background-color: var(--dark-blue); 
    color: var(--light-blue); 
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#history-window h2 {
    font-size: 22px;
    margin: 0 0 20px; 
}

#multiplier-history {
    list-style: none;
    padding: 0;
}

#multiplier-history li {
    font-size: 16px;
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#multiplier-history li:before {
    content: "▶"; 
    margin-right: 10px;
}

#multiplier-history li:last-child {
    margin: 0; 
}
