:root {
    --dark-blue: #1C8A8D;
    --dark-green: #5FD286;
    --light-green: #CAFCD7;
    --light-blue: #C4DBF8;
    --pink: #F9B9BC;
}


.container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid var(--dark-blue); 
    font-size: 16px;
}


.container .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}




.error {
    color: var(--pink); 
    background-color: #f2dede; 
    padding: 10px;
    margin-top: 1rem;
    border-radius: 5px;
    text-align: center;
}
