:root {
    --dark-blue: #1C8A8D;
    --dark-green: #5FD286;
    --light-green: #CAFCD7;
    --light-blue: #C4DBF8;
    --pink: #F9B9BC;
}

#game-container {
    display: flex;
    justify-content: space-around;
}

#wheel-container,
#betting-container {
    text-align: center;
    padding: 20px;
}

#wheel {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: var(--dark-green);
    border-radius: 50%;
    margin: 20px auto;
    overflow: hidden;
}

#spin-button,
#even-bet,
#odd-bet,
#red-bet,
#black-bet {
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#spin-button {
    margin-top: 20px;
    background-color: var(--dark-blue);
    color: white;
}

#spin-button:hover {
    background-color: var(--dark-green);
}

#winning-number {
    background-color: var(--dark-blue); /* light khaki background */
    color: white; /* dark red text color */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    font-size: 1.5em; /* larger text size */
    font-weight: bold;
    text-align: center;
}

#black-bet,
#red-bet,
#even-bet,
#odd-bet {
    background-color: var(--dark-blue);
    color: white;
}
#black-bet:hover,
#red-bet:hover,
#even-bet:hover,
#odd-bet:hover {
    background-color: var(--dark-green);
}

#rouletteTable {
    width: 500px;
    height: 100px;
    background-color: var(--light-blue);
    margin-bottom: 20px;
}

#betting-options {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates a 6-column grid */
    gap: 5px; /* Adjust gap size as needed */
    padding: 10px;
    background-color: var(--light-blue);
}

#betting-options button {
    aspect-ratio: 1;
    padding: 0;
    width: 50px; /* Square dimensions */
    height: 50px;
    line-height: 50px; /* For vertical centering */
    margin: 5px;
    font-size: 16px; /* Adjusted font size */
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    background-color: var(--dark-blue);
    transition: background-color 0.3s, transform 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#betting-options button:hover{
    background-color: var(--dark-green);
}

#special-bets-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}

#result-container,
#bets-container {
    margin-top: 20px;
    text-align: center;
}

#result {
    font-size: 24px;
    color: var(--dark-blue);
}

#bets-container {
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    max-width: 700px;
}

#bets-list::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    margin: 5px;
}

#bets-list::-webkit-scrollbar-track {
    background: var(--light-blue); /* Color of the track */
    border-radius: 10px; /* Rounded corners on the track */
}

#bets-list::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners on the thumb */
    border: 3px solid var(--light-blue); /* Creates a border around the thumb */
}

#bets-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    /* Add padding-right to create space between the text and the scrollbar */
    padding-right: 20px; /* Adjust this value as needed */
    max-height: 620px;
}

#bets-list li {
    background-color: var(--light-blue);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

#bets-list li:last-child {
    margin-bottom: 0;
}

#bets-list li span {
    font-weight: bold;
}

/* Style for the container of bet amount options and input */
#bet-amount-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}

/* Style for the bet amount options (buttons) */
.bet-amount-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.bet-amount-button {
    padding: 10px;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.bet-amount-button:hover {
    background-color: var(--dark-blue);
    color: white;
    border-color: var(--dark-blue);
}

.bet-amount-button.active {
    background-color: var(--dark-green);
    color: white;
    border-color: var(--dark-green);
}

/* Style for the bet amount input */
#bet-amount {
    padding: 10px;
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    width: 60px; /* Adjust width as needed */
    margin-left: 10px;
    outline: none;
    transition: border-color 0.3s;
}

#bet-amount:focus {
    border-color: var(--dark-green);
}

#clear-bets-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: 2px solid var(--dark-blue); /* Border style similar to bet-amount */
    border-radius: 10px; /* Border radius similar to bet-amount */
    font-size: 16px;
    text-align: center;
    width: 100px; /* Adjust width as needed */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Added border-color transition */
    outline: none;
}

#clear-bets-button:hover {
    background-color: var(--dark-green); /* Lighter pink color on hover */
}

