:root{
    --dark-blue: #1C8A8D;
    --dark-green: #5FD286;
    --light-green: #CAFCD7;
    --light-blue: #C4DBF8;
    --pink: #F9B9BC;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white; /* Light background to contrast with the base background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.container h2 {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--tertiary-color);
    padding-bottom: 0.5rem;
}

.container h3 {
    color: var(--primary-color);
    margin-top: 1rem;
}

.container p, 
.container dl {
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Dark color for text to ensure readability */
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.container dt {
    font-weight: bold;
    color: var(--quinary-color);
}

.container dd {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

/* Ensuring <dt> elements are inline with their <dd> descriptions for a compact look */
.container dt {
    display: inline-block;
}

.container dd {
    display: inline;
    margin-left: 0.5rem;
}


/* Resetting <dd> elements to the next line */
.container dd::after {
    content: "";
    display: block;
    margin-bottom: 0.5rem;
}
