body {
    background-image: url('/static/images/crash_main_background.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    text-align: center;
    background-color: #444;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #555;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 60px;
    border-radius: 5px;
}

#user-info {
    display: flex;
    align-items: center;
    font-size: 18px;
}

#user-info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

#logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#money-counter {
    display: flex;
    align-items: center;
}

#money-amount {
    font-size: 24px;
}

#user-details {
    display: flex;
    align-items: center;
}

#user-name {
    margin-right: 10px;
}

#timer {
    margin-right: 10px;
}
#user-info {
  display: flex;
  align-items: center;
  font-size: 18px;
}

#user-info img,
#money-counter img {
  width: 50px; /* Adjust the width as needed (30px * 3) */
  height: 50px; /* Adjust the height as needed (30px * 3) */
  margin-right: 10px;
  border-radius: 50%;
}


#money-counter {
    display: flex;
    align-items: center;
}

#money-amount {
    font-size: 24px; /* Adjust the font size as needed */
}

#user-details {
    display: flex;
    align-items: center;
}

#user-name {
    margin-right: 10px; /* Offset the username by 5 pixels to the right */
}
#timer {
margin-right: 10px; /* Add margin-right to create space between timer and logout button */
}
#logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

/* Add this CSS for the Crash game section */
#crash {
    text-align: center;
}

#game-container {
    background-color: rgb(300, 300, 300);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%; /* Set the width to 100% to expand to the full width of its parent */
    max-width: 800px; /* Set a maximum width to constrain the game-container */
    margin: 0 auto; /* Center the game-container horizontally */
}

#bet-container {
    margin-bottom: 10px;
}

#betInput {
    width: 100px;
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


#placeBet,
#cashOut {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

#cashOut:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#betAmount,
#multiplier {
    font-size: 24px;
    margin-top: 10px;
}

#result {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

#graph {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('/static/images/crash_background.jpg');
    background-size: 120% 120%;
    overflow: hidden;
}

@keyframes zoomOut {
    from {
        background-size: 110% 110%;
    }
    to {
        background-size: 120% 120%; /* Adjust the scale as needed */
    }
}

#graph.zoom {
    animation: zoomIn 5s linear; /* Adjust the animation duration as needed */
}

#rocket {
    position: absolute;
    bottom: 0;
    left: 0; /* Set the initial position to the bottom-left corner */
    width: 50px;
    height: 50px;
    transform-origin: left bottom; /* Rotate around bottom-left corner */
    transition: bottom 0.5s ease-in-out, left 0.5s ease-in-out; /* Smooth transitions */
}

#rocket img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: transparent;
}