<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>{% block title %}Cat Casino{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="left-section">
            <a class="currency">
                <img src="../static/images/coin.png" alt="Currency">
            </a>
            <a class="menu-text" id="balance">{{ money }}</a>
            <a class="menu-text">&nbsp Catcoins</a>
        </div>
        <div class="middle-section">
            <a href="theory" class="hoverable menu-text">Teorie</a>
            <a href="home" class="menu">
                <img src="../static/images/logo.png" alt="Logo">
            </a>
            <a href="games" class="hoverable menu-text">Hry</a>
        </div>
        <div class="right-section">
            <a href="{{ 'logout' if username else 'login' }}" class="hoverable menu-text">{{ 'Odhlásit' if username else 'Přihlásit' }}</a>
            <a class="menu-text">{{ username }}</a>
            <a class="profile">
                <a href="profile"><img src="../static/images/profile.png" alt="Profile" class="profile"></a>
            </a>
        </div>
</header>

{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateBalance() {
            fetch('/get_balance')
                .then(response => response.json())
                .then(data => {
                    if(data.balance !== undefined) {
                        // Assuming you have an element with the id 'balance' where you display the money
                        document.getElementById('balance').textContent = `${data.balance}`;
                    }
                })
                .catch(error => console.error('Error fetching balance:', error));
        }    
    });
    </script>
{% endblock %}

</body>
</html>
