<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>{% block title %}Cat Casino{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class="left-section">
            <a class="currency">
                <img src="../static/images/coin.png" alt="Currency">
            </a>
            <a class="menu-text">{{ money }}</a>
            <a class="menu-text">&nbsp Catcoins</a>
        </div>
        <div class="middle-section">
            <a href="about" class="hoverable menu-text"> O nás</a>
            <a href="home" class="menu">
                <img src="../static/images/logo.png" alt="Logo">
            </a>
            <a href="games" class="hoverable menu-text">Hry</a>
        </div>
        <div class="right-section">
            <a href="{{ 'logout' if username else 'login' }}" class="hoverable menu-text">{{ 'Odhlásit' if username else 'Přihlásit' }}</a>
            <a class="menu-text">{{ username }}</a>
            <a class="profile">
                <img src="../static/images/profile.png" alt="Profile">
            </a>
        </div>
</header>

{% block content %}
{% endblock %}

</body>
</html>
