{% extends "base.html" %}
{% block title %}Catsino - Blackjack{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/blackjack.css">
{% endblock %}
{% block content %}

    <h2>Dealer: <span id="dealer-sum"></span></h2>
            <div id="dealer-cards">
            </div>

            <h2>You: <span id="your-sum"></span></h2>
            <div id="your-cards"></div>

            <br>
            <button id="hit">Hit</button>
            <button id="stay">Stand</button>
            <button id="deal">Začít hru</button>


                <p id="results"></p>
            <script src="../static/js/blackjack.js"></script>


{% endblock %}