{% extends "base.html" %}
{% block title %}Cat Casino - Hry{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/games.css">
{% endblock %}
{% block content %}
<section id="games">
    <div class="game-container">
        <div class="game-box">
            <div class="game-img">
                <img src="../static/images/roulette.png" alt="Roulette">
            </div>
            <div class="game-play">
                <h4>Ruleta</h4>
                <a href="roulette" class="btn">Hrát</a>
            </div>
        </div>

        <div class="game-box">
            <div class="game-img">
                <img src="../static/images/crash.png" alt="Crash">
            </div>
            <div class="game-play">
                <h4>Crash</h4>
                <a href="crash" class="btn">Hrát</a>
            </div>
        </div>

        <div class="game-box">
            <div class="game-img">
                <img src="../static/images/slots.png" alt="Slots">
            </div>
            <div class="game-play">
                <h4>Automaty</h4>
                <a href="slots" class="btn">Hrát</a>
            </div>
        </div>

        <div class="game-box">
            <div class="game-img">
                <img src="../static/images/blackjack.png" alt="Blackjack">
            </div>
            <div class="game-play">
                <h4>Blackjack</h4>
                <a href="blackjack" class="btn">Hrát</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}