{% extends "base.html" %}
{% block title %}Cat Casino - Login{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}
{% block content %}

<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Přihlašte se</h1>
      <br>
      <form action="/login" method="post">
        <input type="text" placeholder="Uživatelské jméno" name="username">
        <input type="password" placeholder="Heslo" name="password">
        <input class="btn btn-default" type="submit" value="Přihlásit">
      </form>
      {% if error %}
        <p class="error"><strong>Chyba:</strong> {{ error }}</p>
      {% endif %}
      <br>
      <a href="{{ url_for('register') }}">
        <button class="btn btn-info">Registrovat</button>
      </a>
    </div>
  </body>
</html>

{% endblock %}