{% extends "base.html" %}
{% block title %}Catsino - Slots{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/slots.css">
{% endblock %}
{% block content %}

<div id="app" class="container">
    <div class="doors">
        <div class="door">
            <div class="boxes"></div>
        </div>

        <div class="door">
            <div class="boxes"></div>
        </div>

        <div class="door">
            <div class="boxes"></div>
        </div>
    </div>

    <div class="buttons">
        <button id="spinner">Spin!</button>
        <button id="reseter">Reset?</button>
    </div>
</div>
  </div>
  <script src="../static/js/slots.js"></script>
{% endblock %}
