<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/crash.css">
    <title>Crash Game</title>

</head>
<body>
    <header>
        <div id="user-info">
            <div id="user-details">
                <img src="../static/images/avatar.jpg" alt="Cat Avatar">
                <span id="user-name">Guest</span>
            </div>
            <span id="timer">Time Remaining: <span id="time-remaining">30:00</span></span>
            <div id="logout-btn">Odhlásit</div>
        </div>
        <div id="money-counter">
            <img src="../static/images/coin.png" alt="Cat Money">
            <span id="money-amount">$1000</span>
        </div>
    </header>
    <nav>
        <a href="/ruleta">Roulette</a>
        <a href="/crash">Crash</a>
        <a href="/maty">Slots</a>
        <a href="/blackjack">Blackjack</a>
    </nav>
        <section id="crash">
            <h2>Crash</h2>
            <p>Test your luck in the Crash game!</p>
            <div id="game-container">
                <div id="graph">
                    <div id="rocket">
                        <img src="static/images/cat.png" alt="Cat in rocket" class="rocket-image">
                    </div> 
                </div>
                <div id="bet-container">
                    <label for="betInput">Bet:</label>
                    <input type="number" id="betInput" min="1" value="10">
                </div>
                <button id="placeBet">Place Bet</button>
                <button id="cashOut" disabled>Cash Out</button>
                <div id="betAmount">$0.00</div>
                <div id="multiplier">1.00x</div>
                <div id="result"></div>
            </div>
        </section>
    <script src="../static/js/crash.js"></script>
</body>
</html>
