{% extends "base.html" %}
{% block title %}Catsino - Crash{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/crash.css">
{% endblock %}
{% block content %}
    <section id="crash">
        <div id="game-container">
            <div id="graph-bet-container">
                <div id="graph-window">
                        <span id="multiplier-value">x1.00</span>
                </div>    
                <div id="betting-window">
                    <label for="bet-amount">Bet Amount:</label>
                    <input type="text" id="bet-amount">
                    <button id="place-bet">Place Bet</button>
                    <button id="cash-out">Cash Out</button>
                    <div id="presets">
                        <button class="preset">2</button>
                        <button class="preset">5</button>
                        <button class="preset">10</button>
                    </div>
                        <div id="countdown">Game starts in: 10 seconds</div>
                    <div id="game-content">Game Content</div>
                </div>
            </div>
    
            <div id="history-container">
                <div id="history-window">
                    <h2>Multiplier History</h2>
                    <ul id="multiplier-history">
                    </ul>
                </div>
            </div>
        </div>
    </section>
 
    <script src="../static/js/crash.js"></script>
{% endblock %}
